body{
    background-image: url(pexels-pixabay-209831.jpg);
    background-size: cover;
}

a{
    color: darkturquoise;
}

.app{
    max-width: 600px;
    margin: 30px auto;
    padding: 6px;
    border-radius: 6px;
    box-shadow: 5px 5px 5px 5px rgb(6, 6, 6, 0.3);
}


.search-form-input{
    border-radius: 4px;
    border: none;
    width: 80%;
    padding: 6px;
}

.search-form-button{
    border-radius: 4px;
    border: none;
    padding: 6px;
    width:15%;
    background-color: darkturquoise;
}

form{
    border-bottom: 1px solid #3a4a50;
    padding-bottom: 5px;
}

main{
    display: flex;
    justify-content: space-between;
}


.temperature-value{
    font-size: 38px;
    width: 140px;
    font-weight: bold;
    padding-top: 28px;
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    font-size: 10px;
    border-top: 1px solid #2F4D57;
    padding-top: 5px;
    text-align: center;
}

